* {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
    font-size: 14px;
    letter-spacing: 0.05em;
}
::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
}
html {
    -ms-overflow-style: none;
}

.admin-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw; /* Ensure full width */
}

.main-content {
    display: flex;
    flex: 1;
}

.sidebar {
    max-width: 25%;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
}

.content {
    flex-grow: 0; /* Ensures it expands fully */
    padding: 2px;
    background-color: var(--content);
    color: white;
    max-height: 100vh;
    min-width: 0; /* Prevents overflow issues */
}
.theme-toggle {
    border-radius: 8px;
    padding: 1em;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    transition: 0.25s ease-in;
}
.theme-toggle:hover {
    background-color: var(--hoverbgcolor);
    border: 1px solid var(--togglehovercolor);
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #d32f2f;
}

/* Dark theme adjustments */
.dark-theme .logout-button {
    background-color: #d32f2f;
}

.dark-theme .logout-button:hover {
    background-color: #b71c1c;
}
